<!DOCTYPE html>
<html id="ng-app" class="ng-app:resume" ng-app="resume">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESUME OF HENGCHIH</title>
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <!--[if lte IE 8]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="resumeCtrl" ng-scroll>
<header id="header" class="absolute">
    <nav id="nav">
        <ul class="nav-ul">
            <li id="nav-cover" class="nav-li active"><a class="nav-link" href="#cover">封面</a></li>
            <li id="nav-experience" class="nav-li"><a class="nav-link" href="#experience">工作經驗</a></li>
            <li id="nav-portfolio" class="nav-li">
                <a class="nav-link" href="#portfolio">作品集</a>
                <select id="filter-portfolio" style="display: none">
                    <option value="前端工程">前端工程</option>
                    <option value="遊戲設計">遊戲設計</option>
                    <option value="科技藝術">科技藝術</option>
                    <option value="視覺設計">視覺設計</option>
                    <option value="後端工程">後端工程</option>
                    <option value="專案企劃">專案企劃</option>
                </select>
            </li>
        </ul>
    </nav>
</header>
<div id="cover" class="level1-container full-height">
    <div class="svg-picture" svg-portrait></div>
    <div class="cover-text">
        <div class="year">2014</div>
        <h1 class="title">RESUME OF HENGCHIH</h1>
    </div>
</div>
<div id="experience" class="level1-container full-height">
    <!--<h2 class="title">Experience</h2>-->
    <div class="list-board" ng-class="{'even':$index%2==0, 'odd':$index%2!=0}" ng-repeat="item in experience">
        <div class="list-board-title">
            <span class="start-time">{{item.start}}</span>
            <span class="end-time">{{item.end}}</span>
            <h3 class="company">{{item.name}}，{{item.company}}</h3>
        </div>
        <ul class="list-board-ul">
            <li class="list-board-li" ng-repeat="data in item.description">{{data}}</li>
        </ul>
    </div>
</div>
<!--<div id="skills" class="level1-container full-height">
    <div class="svg-picture" svg-skills></div>
    <div class="skills-list">
        <h2 class="title">Skills</h2>
        <div class="list-tag">
            <h3 class="list-tag-title">前端:</h3>
            <ul  class="list-tag-ul">
                <li class="list-tag-li" ng-repeat="item in skillModel.front">{{item}}</li>
            </ul>
        </div>
        <div class="list-tag">
            <h3 class="list-tag-title">後端:</h3>
            <ul class="list-tag-ul">
                <li class="list-tag-li" ng-repeat="item in skillModel.back">{{item}}</li>
            </ul>
        </div>
        <div class="list-tag">
            <h3 class="list-tag-title">資料庫:</h3>
            <ul class="list-tag-ul">
                <li class="list-tag-li" ng-repeat="item in skillModel.db">{{item}}</li>
            </ul>
        </div>
        <div class="list-tag">
            <h3 class="list-tag-title">設計:</h3>
            <ul class="list-tag-ul">
                <li class="list-tag-li" ng-repeat="item in skillModel.design">{{item}}</li>
            </ul>
        </div>
        <div class="list-tag">
            <h3 class="list-tag-title">其他:</h3>
            <ul class="list-tag-ul">
                <li class="list-tag-li" ng-repeat="item in skillModel.other">{{item}}</li>
            </ul>
        </div>
    </div>
</div>-->
<div id="portfolio" class="level1-container" ng-controller="portfolioCtrl">
    <!--<h2 class="title">Portfolio</h2>-->
    <div class="card-container">
        <div class="portfolio-card" ng-repeat="item in portfolioModel">
            <div class="work-img-container">
                <img class="work-img" ng-src="images/{{item.Name}}/1.jpg"/>
            </div>
            <div class="work-info">
                <h3 class="work-title">{{item.Name}}</h3>
                <p>{{item.Way}}<a class="work-link {{item.Link!=''}}" ng-href="{{item.Link}}" target="_blank">作品連結</a></p>
                <ul class="work-ul">
                    <li class="work-li work-type" ng-repeat="type in item.Type">{{type}}</li>
                </ul>
                <ul class="work-ul work-skill">
                    <li class="work-li work-skill" ng-repeat="skill in item.Skill">{{skill}}</li>
                </ul>
                <p class="work-description">{{item.Description}}</p>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    Email: lovesenyea@gmail.com
</div>
<!--script-->
<script src="scripts/main.js"></script>
</body>
</html>