/* line 9, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 18, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 21, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 28, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 34, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 39, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 42, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_layout.sass */
body {
  font-family: "Noto Sans", "Microsoft JhengHei", sans-serif;
}

/* line 4, ../sass/_layout.sass */
#header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background: #2ea7e0;
  z-index: 3;
}
@media screen and (max-width: 745px) {
  /* line 4, ../sass/_layout.sass */
  #header {
    border-bottom: 1px solid white;
  }
}

/* line 14, ../sass/_layout.sass */
.nav-ul {
  width: 100%;
  height: 100%;
  max-width: 680px;
  float: right;
  overflow: auto;
}
@media screen and (max-width: 1225px) {
  /* line 14, ../sass/_layout.sass */
  .nav-ul {
    float: none;
    margin: 0 auto;
  }
}

/* line 24, ../sass/_layout.sass */
.nav-li {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* line 29, ../sass/_layout.sass */
.nav-link {
  height: 40px;
  line-height: 40px;
  color: white;
  font-size: 24px;
  font-family: "Noto Sans", "Microsoft JhengHei", sans-serif;
}
@media screen and (max-width: 375px) {
  /* line 29, ../sass/_layout.sass */
  .nav-link {
    font-size: 16px;
  }
}

/* line 38, ../sass/_layout.sass */
.level1-container {
  width: 100%;
  position: relative;
}

/* line 42, ../sass/_layout.sass */
.full-height {
  min-height: 100vh;
  overflow: hidden;
}

/* line 1, ../sass/_svg.sass */
.svg-picture[svg-portrait] {
  position: absolute;
  overflow: hidden;
  max-height: 100vh;
  z-index: -1;
}

/* line 7, ../sass/_svg.sass */
.svg-picture[svg-skills] {
  position: absolute;
  max-height: 100vh;
  z-index: -1;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1225px) {
  /* line 7, ../sass/_svg.sass */
  .svg-picture[svg-skills] {
    display: none;
  }
}

/* line 2, ../sass/_cover.sass */
#cover .cover-text {
  padding-top: 40px;
  margin-top: 50vh;
}
@media screen and (max-width: 1225px) {
  /* line 2, ../sass/_cover.sass */
  #cover .cover-text {
    text-align: left;
  }
}
@media screen and (max-width: 745px) {
  /* line 2, ../sass/_cover.sass */
  #cover .cover-text {
    margin-top: 0;
  }
}
/* line 9, ../sass/_cover.sass */
#cover .cover-text .year, #cover .cover-text .title {
  font-family: "Montserrat";
  color: #2ea7e0;
  text-shadow: 0 0 5px white;
  font-size: 65px;
  text-align: right;
}
@media screen and (max-width: 1225px) {
  /* line 9, ../sass/_cover.sass */
  #cover .cover-text .year, #cover .cover-text .title {
    margin-top: 0;
  }
}
@media screen and (max-width: 745px) {
  /* line 9, ../sass/_cover.sass */
  #cover .cover-text .year, #cover .cover-text .title {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  /* line 9, ../sass/_cover.sass */
  #cover .cover-text .year, #cover .cover-text .title {
    font-size: 55px;
    margin-top: 20px;
  }
}

/* line 1, ../sass/_experience.sass */
#experience {
  background: #2ea7e0;
}
/* line 3, ../sass/_experience.sass */
#experience .title {
  color: white;
  text-shadow: 0 0 5px #2ea7e0;
  font-size: 40px;
  width: 70%;
  text-align: left;
  margin: 0 auto;
  padding-top: 45px;
}
@media screen and (max-width: 745px) {
  /* line 3, ../sass/_experience.sass */
  #experience .title {
    width: 85%;
  }
}

/* line 1, ../sass/_listBoard.sass */
.list-board {
  line-height: 1.8;
  font-family: "Noto Sans", "Microsoft JhengHei", sans-serif;
  color: white;
  width: 70%;
  margin: 12px auto;
  border: 1px solid white;
  box-sizing: border-box;
}
@media screen and (max-width: 745px) {
  /* line 1, ../sass/_listBoard.sass */
  .list-board {
    width: 85%;
  }
}
/* line 12, ../sass/_listBoard.sass */
.list-board .list-board-title {
  background: white;
  color: #2ea7e0;
  font-size: 18px;
  font-weight: 100;
  padding-left: 5px;
}
/* line 19, ../sass/_listBoard.sass */
.list-board .list-board-ul {
  padding: 0 0 0 25px;
  list-style-type: circle;
}

/* line 2, ../sass/_skills.sass */
#skills .title {
  color: #2ea7e0;
  text-shadow: 0 0 5px white;
  font-size: 40px;
}
/* line 6, ../sass/_skills.sass */
#skills .skills-list {
  line-height: 1.8;
  font-family: "Noto Sans", "Microsoft JhengHei", sans-serif;
  color: #2ea7e0;
  box-sizing: border-box;
  font-size: 21px;
  width: 70%;
  margin: 0 auto;
  margin-top: 45px;
}

/* line 1, ../sass/_listTag.sass */
.list-tag {
  clear: both;
  overflow: auto;
  margin-bottom: 10px;
}
/* line 6, ../sass/_listTag.sass */
.list-tag .list-tag-li {
  color: #2ea7e0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin: 2px 3px;
  padding: 3px 5px;
  border: 1px solid #2ea7e0;
}
